.header{
    width: 100%;
    background-color: white;
    display: flex;
    height: 100%;
}

nav {
    font-size: var(--normal-font-size);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

}
.nav_menu{
    display: flex;
    width: 75%;

}
.nav_list{
    display: flex;
    justify-content: end;
    width: 100%;
    column-gap: 2rem;
}
.nav_link{
    display: flex;
}
.nav_item{
    padding: 0.7rem;
    border-radius: 0.7rem;
}
.nav_item h3{
    font-size: 16px;
}
.nav_item:hover{
    background-color: rgb(18, 18, 18);
   
   transition: .4s;
}
.nav_item:hover h3,
.nav_item:hover i{
    color: white;
}


.nav-menubtn{
    display: none;
}

@media screen and (max-width: 600px){
 
    .nav-menubtn{
        display: block;
        background-color: transparent;
        font-size: 30px;
    }
    .nav-container{
        display: flex;
        justify-content: space-between;
        margin: 0 1rem 0 1rem;
    }
    .nav_menu{
        position: absolute;
        display: none;
        top: 3.5rem;
        right: 0rem;
        width: auto;
        background-color: rgb(255, 255, 255);
        padding: 2rem;
        border-radius: 0 20px;
   
    }
    .nav_list{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-end;
        width: auto;
        
    }
    .nav_item{
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }
    .showmenu{
        display: flex;
    }
}


@media screen and (max-width: 1024px){
 
}